@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #111936;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #fff;
}
p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 45px;
    color: #fff;
}
.fa {
    font-size: 40px;
    color: white;
    background-color: #111936;
}
#picSet {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
#picSet img {
    position: absolute;
    top: 0;
    transition: left 1s;
    border: 5px solid #fff;
    border-radius: 5px;
}
#prev_btn {
    position: absolute;
    top: 500px;
    left: 110px;
}
#next_btn {
    position: absolute;
    top: 500px;
    right: 110px;
}